@charset "UTF-8";

body {
    background: rgb(107, 149, 241);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);

} 

textarea {
    
    margin-top: 10px;
    border-radius: 5px;
    border: 0.2px solid #181a10;
    box-shadow: 0.3px 0.3px rgb(8, 8, 8);
    padding: 0.2rem;

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    
}